.venv
GeoNRW
GID15
train
*.zip
LandCoverAI
data
Vaihingen
DeepGlobal
Potsdam_dataset
Vaihingen_dataset
loveda_dataset
__pycache__
DeadTrees
tb_logs
l_checkpoints
checkpoints
*_HF
cuda-keyring_1.1-1_all.deb
LoveDA
.vscode